@import '../../../styles/variables';

:host {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  background-color: $main-background;
}


.date {
  margin-bottom: 0;
}
