@import 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  padding: 10px 15px;
  background-color: $white;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
}
