:host {
  display: block;
  padding: 16px;
  box-shadow: 1px 1px 8px 1px #707070;
  border-radius: 4px;
}

.task-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #707070;
  line-height: 20px;
  font-size: 12px;
}

.task-info {
  span {
    margin-left: 4px;
  }
}

.task-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 0;

  &__completed {
    margin-right: auto;
  }
}

.task-description {
  padding-left: 24px;
  white-space: pre-line;
  font-size: 16px;
}
