<mat-toolbar class="toolbar">
  <icon-button class="toolbar__icon"
               [ariaLabel]="'Example icon-button with menu icon'"
               [iconName]="'menu'">
  </icon-button>
  <span>Task Manager</span>
  <span class="toolbar__spacer"></span>
  <icon-button class="toolbar__icon favorite-icon"
               [ariaLabel]="'Example icon-button with heart icon'"
               [iconName]="'favorite'">
  </icon-button>
  <icon-button class="toolbar__icon"
               [ariaLabel]="'Example icon-button with share icon'"
               [iconName]="'share'">
  </icon-button>
</mat-toolbar>
