/* You can add global styles to this file, and also import other style files */
@import './styles/base';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  display: block;
  margin-bottom: 16px;
  padding: 0 8px;
}

.form-label {
  width: 160px;
  font-size: 16px;
  line-height: 30px;
}

.form-required {
  margin-left: 2px;
  font-style: normal;
  vertical-align: middle;
}

.form-control {
  flex: 1;
}

.form-errors {
  color: #ff6767;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 16px;
}

input {
  height: 40px;
}
